@font-face {
    font-family: TTWellingtons-Regular;
    src: url('TTWellingtons-Regular.eot');
    src: local('TT Wellingtons Regular'), local('TTWellingtons-Regular'), url('TTWellingtons-Regular.eot?#iefix') format('embedded-opentype'), url('TTWellingtons-Regular.woff2') format('woff2'), url('TTWellingtons-Regular.woff') format('woff'), url('TTWellingtons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-Medium;
    src: url('TTWellingtons-Medium.eot');
    src: local('TT Wellingtons Medium'), local('TTWellingtons-Medium'), url('TTWellingtons-Medium.eot?#iefix') format('embedded-opentype'), url('TTWellingtons-Medium.woff2') format('woff2'), url('TTWellingtons-Medium.woff') format('woff'), url('TTWellingtons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-DemiBold;
    src: url('TTWellingtons-DemiBold.eot');
    src: local('TT Wellingtons DemiBold'), local('TTWellingtons-DemiBold'), url('TTWellingtons-DemiBold.eot?#iefix') format('embedded-opentype'), url('TTWellingtons-DemiBold.woff2') format('woff2'), url('TTWellingtons-DemiBold.woff') format('woff'), url('TTWellingtons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-ExtraLight;
    src: url('TTWellingtons-ExtraLight.eot');
    src: local('TT Wellingtons ExtraLight'), local('TTWellingtons-ExtraLight'), url('TTWellingtons-ExtraLight.eot?#iefix') format('embedded-opentype'), url('TTWellingtons-ExtraLight.woff2') format('woff2'), url('TTWellingtons-ExtraLight.woff') format('woff'), url('TTWellingtons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-MediumItalic;
    src: url('TTWellingtons-MediumItalic.eot');
    src: local('TT Wellingtons Medium Italic'), local('TTWellingtons-MediumItalic'), url('TTWellingtons-MediumItalic.eot?#iefix') format('embedded-opentype'), url('TTWellingtons-MediumItalic.woff2') format('woff2'), url('TTWellingtons-MediumItalic.woff') format('woff'), url('TTWellingtons-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: TTWellingtons-Bold;
    src: url('TTWellingtons-Bold.eot');
    src: local('TT Wellingtons Bold'), local('TTWellingtons-Bold'), url('TTWellingtons-Bold.eot?#iefix') format('embedded-opentype'), url('TTWellingtons-Bold.woff2') format('woff2'), url('TTWellingtons-Bold.woff') format('woff'), url('TTWellingtons-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-Light;
    src: url('TTWellingtons-Light.eot');
    src: local('TT Wellingtons Light'), local('TTWellingtons-Light'), url('TTWellingtons-Light.eot?#iefix') format('embedded-opentype'), url('TTWellingtons-Light.woff2') format('woff2'), url('TTWellingtons-Light.woff') format('woff'), url('TTWellingtons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #F5E9DB;
}

h1 {
    font-size: 28px;
    font-family: TTWellingtons-DemiBold;
}

h2 {
    font-size: 18px;
    font-family: TTWellingtons-Light;
    margin: 0;
}

h4 {
    margin: 0;
    font-family: TTWellingtons-DemiBold;
    font-size: 18px;
}

p {
    font-family: TTWellingtons-Medium;
    font-size: 12px;
    margin: 0;
}

div {
    font-family: TTWellingtons-DemiBold;
}

div {
    font-family: TTWellingtons-DemiBold;
}

span {
    font-family: TTWellingtons-Medium;
    font-size: 16px;
}

.price_block {
    display: -webkit-inline-box;
    display: -moz-inline-box;
}

.price_block h4 {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    margin: 0 !important;
}


/*-------------------------------


        Основной блок формы


------------------------------*/

.header_conteiner {
    position: relative;
    grid-template-columns: 105px 1fr 196px;
    width: 856px;
    height: 80px;
    left: 0;
}

.header_nomber {
    color: #000;
    grid-column: 3;
    padding-top: 24px;
}

.header_nomber img {
    position: relative;
    top: 6px;
}

.header_nomber a {
    color: #000;
    font-family: 'Open Sans';
}

.logo_block {
    top: -6px;
    background-image: url(./img/black_logotype.svg);
    height: 61px !important;
}

.form_conteiner {
    position: relative;
    width: 876px;
    margin: auto;
    margin-bottom: 32px;
    border-radius: 20px;
    transition-property: left;
    background-color: #fff;
}

.steps_slider_conteiner {
    position: relative;
    top: 0;
    left: 0;
}

.header_slider_block {
    position: relative;
    left: 0;
    width: 590px;
    height: 100px;
    margin-bottom: 100px;
}


/*-------------------------------


        Прогрессия по форме


------------------------------*/

.nav_form_conteiner {
    display: grid;
    grid-template-columns: repeat(3, 26px 168px);
    width: 582px;
    margin: auto;
    height: 50px;
    z-index: 998;
    margin-bottom: 24px;
    position: relative;
    top: 215px;
}

.step_circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    z-index: 11;
}

.full_circle {
    color: #fff;
    background-color: #FF8A00 !important;
}

.empty_circle {
    background-color: #E3E3E3;
}

.empty_circle p {
    color: #fff;
}

.full_text {
    width: 100%;
    font-size: 12px !important;
}

.empty_text {
    color: #D2D2D2;
}

.connect_info {
    position: relative;
    top: -12px;
}

.connect_info p {
    margin: 16px 4px;
}

.arc_conteiner {
    position: relative;
    top: -96px;
    left: 14px;
    width: 0px;
    height: 100px;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    overflow: hidden;
}

.arc_window_block {
    display: grid;
    grid-template-columns: repeat(3, 178px);
    grid-column-gap: 16px;
    position: relative;
    top: -4px;
    left: 4px;
}

.arc {
    width: 178px;
    height: 50px;
    background-image: url(./img/arrow-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.step_circle p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}


/*-------------------------------


        Step one styles


------------------------------*/

.form_step_one {
    position: relative;
    width: 582px;
    box-sizing: content-box;
    margin: auto;
}

.form_block h1 {
    margin-top: 0;
    margin-bottom: 32px;
}

.form_block h2 {
    margin-bottom: 32px;
}

.type_pet_block {
    height: 64px;
}

.select_label:hover {
    cursor: pointer;
}

.label_text:hover {
    cursor: text;
}

.type_pet_block,
.select_type_conteiner,
.breed_animal_block,
.coutry_tour_block,
.country_arrival_block,
.age_animal_block,
.date_vakcina_block,
.name_block,
.telephone_block,
.email_block {
    position: relative;
}

.two_columns_grid {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-column-gap: 22px;
    grid-row-gap: 30px;
    grid-template-rows: 24px 64px 64px;
    margin-bottom: 50px;
}

.header_4_lvl {
    grid-column: 1/3;
}

#breed_list:focus #wrapper_breed_animal {
    display: block !important;
}

.hint_one {
    position: absolute;
    top: 446px;
    left: -125px;
}

.hint_one img {
    position: relative;
    top: -12px;
    left: 70px;
}


/*-------------------------------


        Кнопки предыдущий слайд


------------------------------*/

.dwn_back_step {
    position: relative;
    left: 50%;
    width: 46px;
    margin-left: -23px;
    color: #A3A3A3;
    text-align: center;
    text-decoration: underline;
    outline: none;
}

.dwn_back_step:hover {
    cursor: pointer;
    color: #000;
}


/*-------------------------------


    Стили для чекбокса


------------------------------*/

.checkbox_block {
    width: 25px;
    height: 25px;
    border: 1px solid #828282;
    background: #fff;
    border-radius: 3px;
}

.checkbox_label {
    display: grid;
    grid-template-columns: 26px 1fr;
    grid-column-gap: 15px;
}

.checkbox_label p {
    line-height: 25px;
}

.checkbox_label:hover {
    cursor: pointer;
}

.check_tick {
    display: none;
    position: relative;
    top: 6px;
    left: 5px;
    width: 16px !important;
    height: 13px !important;
    z-index: 11;
}

.dark_check:checked+.checkbox_label .check_tick {
    display: block;
}

.light_check:checked+.checkbox_label .check_tick {
    display: block;
}


/*-------------------------------


    Переключатель наличия чипа


------------------------------*/

.switcher {
    display: block;
    position: relative;
    width: 152px;
    height: 42px;
    text-align: center;
    cursor: pointer;
}

.chip_switcher:after {
    content: "нет";
    width: 76px;
    height: 46px;
    line-height: 46px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    background: #EEF2F7;
    color: #000;
    -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    transition-duration: 0.2s;
    font-family: TTWellingtons-Bold;
    font-size: 14px;
}

.chip_switcher:hover:after {
    background-color: #F68026;
    color: #fff;
}

#have_chip {
    display: none;
}

#have_chip:checked+.chip_switcher {
    left: 0px;
}

#have_chip:checked+.chip_switcher:after {
    content: "да";
    left: 77px;
    border: none;
    border-radius: 0px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#have_chip:checked+.chip_switcher:hover:after {
    background-color: #F68026;
    color: #fff;
}

.text_block {
    display: grid;
    grid-template-columns: 76px 76px;
    position: absolute;
    width: 152px !important;
    height: 42px !important;
    left: 0px;
}

.text_block div {
    width: 76px;
    height: 44px !important;
    line-height: 44px;
    color: #545454;
    font-family: TTWellingtons-Medium;
    font-size: 14px;
}

.text_block div:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #EEF2F7;
}

.text_block div:nth-child(2) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #EEF2F7;
}


/*-------------------------------


    Переключатель наличия чипа


------------------------------*/

.chip_text {
    font-size: 16px;
    margin-bottom: 10px;
}

#type_food {
    display: none;
}


/*-------------------------------


        Step two styles


------------------------------*/

.form_step_two {
    display: none;
    position: relative;
    width: 884px;
    margin: auto;
    box-sizing: content-box;
    opacity: 0;
    padding-bottom: 12px;
}

.box_items_conteiner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-column-gap: 22px;
    margin-bottom: 46px;
}

.box_item_block {
    width: 100%;
    height: 460px;
}

.box_item_block h4 {
    width: 280px;
}

.img_block {
    width: 280px;
    height: 280px;
    margin-bottom: 26px;
}

.img_block img {
    width: 280px;
    height: 280px;
    border-radius: 16px;
}

.notification_circle {
    position: relative;
    top: -38px;
    left: 220px;
    width: 60px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F68026;
    color: #fff;
    font-size: 14px;
}

.notification_circle span {
    font-family: 'Open Sans', sans-serif;
}

.name_tr_box {
    margin-bottom: 20px;
}

.price_tr_box {
    margin-bottom: 20px;
}

.more_info_conteiner {
    position: relative;
    width: 100%;
    height: 64px;
    border: 1px solid #282936;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 64px;
    color: #282936;
    background-color: #fff;
    transition-duration: 0.2s;
}

.more_info_conteiner:hover {
    border: 1px solid #F16331;
    color: #F16331;
    cursor: pointer;
}

.step_two_btn {
    position: relative;
    left: 666px;
    width: 280px;
    height: 64px;
}

.step_two_btn button {
    grid-column: 2/2;
}

.price_text {
    font-family: 'Open Sans', sans-serif;
}

.hint_two {
    position: absolute;
    top: 0px;
    left: -220px;
}

.hint_two img {
    position: absolute;
    top: 50px;
    left: 110px;
}


/*-------------------------------


        Step tree styles


------------------------------*/

.form_step_tree {
    display: none;
    width: 884px;
    margin: auto;
    box-sizing: content-box;
    background-color: #fff;
    opacity: 0;
}

.services_conteiner {
    position: relative;
    left: -30px;
    display: grid;
    grid-template-columns: 448px 448px;
    grid-column-gap: 25px;
    margin-bottom: 24px;
}

.services_conteiner h4 {
    margin: 0 0 16px 0;
}

.serv_necessary_block {
    background: #F4F4F4;
    border-radius: 8px;
}

.serv_block {
    padding: 30px 30px 0 30px;
}

.item_service {
    display: grid;
    grid-template-columns: 26px 254px 100px;
    grid-column-gap: 16px;
    margin-bottom: 12px;
}

.item_service span {
    font-size: 14px !important;
}

.item_service p {
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 0;
    font-size: 12px;
    font-family: TTWellingtons-DemiBold;
    color: #9A9A9A;
}

.item_service .price_block {
    grid-row-start: 1;
    grid-column-start: 3;
}

.item_service .price_block h4 {
    font-size: 14px;
}


/*--------------------------------------
    Товары выбранные для покупки
--------------------------------------*/

.box_purchase_conteiner {
    display: grid;
    grid-row-gap: 10px;
    margin-bottom: 32px;
}

.box_purchase_item {
    display: grid;
    grid-template-columns: 40px 300px 346px 74px 24px;
    grid-column-gap: 25px;
}

.count_block {
    font-size: 12px;
}

.box_purchase_item img {
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.hor_img {
    position: relative;
    top: 24px;
    width: 100% !important;
    height: 3px !important;
}

.name_purchase_block {
    display: grid;
    grid-template-columns: 250px 50px;
}

.box_purchase_item h5 {
    line-height: 40px;
    margin: 0;
    font-size: 14px;
    font-family: TTWellingtons-Medium;
}

.box_purchase_item .price_block {
    font-family: 'Open Sans', sans-serif !important;
}

.box_purchase_item p {
    line-height: 40px;
    font-family: TTWellingtons-Regular;
}

.box_purchase_item .price_block h4 {
    line-height: 40px;
    font-size: 14px !important;
}


/*--------------------------------------
        Крестик удаления товара
--------------------------------------*/

.del_tr_box {
    position: relative;
    top: 18px;
    width: 20px;
    height: 2px;
    border-top: 1px solid #C9C9C9;
    z-index: 1;
    cursor: pointer;
    transform: rotate(45deg);
    transition-delay: 0.2s;
}

.del_tr_box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 1px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #C9C9C9;
    z-index: 1;
    cursor: pointer;
    transform: rotate(270deg);
    transition-delay: 0.2s;
}

.del_tr_box:hover {
    border-top: 1px solid #828282;
}

.del_tr_box:hover::before {
    border-top: 1px solid #828282;
}


/*-------------------------------


        Футер третьего шага


------------------------------*/

.footer_step_tree {
    position: relative;
    box-sizing: content-box;
}

.footer_secnd_text {
    font-family: TTWellingtons-Bold !important;
    font-size: 22px;
    color: #000;
    margin-bottom: 20px !important;
}

.finish_summ {
    font-family: TTWellingtons-Bold !important;
    font-size: 22px;
    color: #AEAEAE;
    margin: 0px !important;
}

.finish_summ span {
    font-family: 'Open Sans' !important;
    font-size: 22px;
}

.hint_tree {
    position: absolute;
    top: 47px;
    left: 672px;
}

.hint_tree img {
    position: absolute;
    top: 0px;
    left: 124px;
}

.hint_text {
    font-size: 10px !important;
}

.contacts_block {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-column-gap: 22px;
    grid-row-gap: 30px;
    margin-bottom: 32px;
}

.type_link_block {
    position: relative;
    height: 64px;
}

.send_appl {
    grid-column: 2 !important;
    grid-row: 2 !important;
}

.type_link_conteiner {
    position: relative;
}

#send_application {
    position: relative;
    top: -5px;
}

#your_telephone,
#age_anim_inpt,
#date_departure,
#vakvina_date {
    font-family: 'Open Sans', sans-serif;
}


/*---------------------------------
    Иконка прикрепления файла
---------------------------------*/

.btn-tertiary {
    display: grid;
    grid-template-columns: 44px 1fr;
    height: 62px;
    width: 278px;
    margin: auto;
    padding: 0;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    text-align: center;
    color: #DBDBDB;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    color: #F0592B;
    border: 1px solid #F0592B;
    cursor: pointer;
}

.input-file {
    display: none;
    -moz-opacity: 0.8;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.js-fileName {
    position: relative;
    left: 12px;
    height: 64px;
    margin: 0;
    width: 100%;
    line-height: 12px;
    border-left: 1px solid #DBDBDB;
}

.text_file_btn {
    text-align: center;
    line-height: 14px;
    margin-top: 18px;
}

.icon_inpt_file {
    position: relative;
    top: 18px;
    left: 12px;
    width: 32px;
    height: 30px;
}

.icon_inpt_file:hover {
    transform: scale(1.1);
}

.btn-tertiary:hover~.icon_inpt_file {
    transform: rotate(50deg);
}

.convention_conteiner {
    margin: auto;
    width: 90%;
    position: relative;
    top: -20px;
    grid-column: 3;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 12px;
}

.small_check {
    width: 18px;
    height: 18px;
}

.small_check img {
    display: none;
    position: relative;
    top: 3px;
    left: 2px;
    width: 14px !important;
    height: 11px !important;
    z-index: 11;
}

.convention_conteiner {
    color: #A3A3A3;
}

.convention_link {
    color: #6180A4;
    text-decoration: underline;
}

.convention_link:hover {
    cursor: pointer;
}

.finally_price .rub {
    top: 7px;
}

.rub {
    line-height: 3px;
    width: 0.4em;
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: inline-block;
    position: relative;
    left: 3px;
    font-size: 13px !important;
    top: -1px;
}


/*-------------------------------


    Успешно отправленная заявка


------------------------------*/

.success_send_four {
    position: relative;
    top: 100px;
    width: 990px;
    height: 688px;
    margin: auto;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.invaite_block {
    position: relative;
    top: 84px;
}

.success_title {
    font-size: 65px;
    text-align: center;
    color: #F16331;
    margin: 0px;
    margin-bottom: 20px;
}

.invaite_block h4 {
    text-align: center;
    font-size: 20px;
}

.invaite_block h4:nth-child(2) {
    margin-bottom: 24px;
}

.invaite_block h4:nth-child(3) {
    margin-bottom: 20px;
}

.invaite_block a {
    color: #00768F;
    font-size: 20px;
    text-decoration: none;
}

.invaite_block a:hover {
    text-decoration: underline !important;
}

.back_main_page {
    position: relative;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    text-align: center;
    text-decoration: underline !important;
    color: #A3A3A3 !important;
    font-family: TTWellingtons-Medium;
    font-size: 12px !important;
}

.back_main_page:hover {
    color: #000 !important;
}

.images_inst_conteiner {
    display: grid;
    grid-template-columns: repeat(6, 165px);
    position: relative;
    top: 110px;
}


/*-------------------------------


        ТОкно ошибки


------------------------------*/

.err_conteiner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.err_window_block {
    position: relative;
    left: 50%;
    top: 150px;
    width: 620px;
    height: 410px;
    margin-left: -310px;
    border-radius: 20px;
    background: #fff;
    padding: 32px;
}

.err_window_block img {
    position: relative;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    border-radius: 50%;
}

.err_window_block h1 {
    text-align: center;
    margin: 0px;
}

.err_window_block h4 {
    text-align: center;
    font-family: TTWellingtons-Medium !important;
}

.err_window_block h4:nth-child(3) {
    margin-bottom: 24px;
}

.err_window_block h4:nth-child(4) {
    margin-bottom: 54px;
}

.err_window_block span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#send_again_application {
    position: relative;
    left: 50%;
    margin-left: -140px;
}

.err_window_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -moz-opacity: 0.8;
    opacity: 0.6;
}


/*-------------------------------


        Тревел бокс окно


------------------------------*/

.travel_box_conteiner {
    display: none;
    position: relative;
    left: 50%;
    width: 950px;
    box-sizing: content-box;
    padding: 74px 80px 0 80px;
    margin-left: -542px;
    background-color: #fff;
    border-radius: 50px;
    z-index: 999;
}

.travel_box_conteiner .header_slider_block {
    margin-bottom: 18px !important;
}

.close_up_tb {
    display: grid;
    left: 0 !important;
    top: -16px !important;
}

.slider_box_img_conteiner {
    width: 380px;
    height: 400px;
    margin-bottom: 16px;
    overflow: hidden;
}

.slider_box_img_block {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    transition-property: left;
    transition-duration: 0.2s;
}

.slider_box_img_block:hover {
    cursor: pointer;
    transform: scale(10, 10);
}

.slider_box_big_img {
    width: 400px;
    height: 400px;
}

.btn_slider_conteiner {
    display: grid;
    grid-template-columns: 64px 1fr 64px;
    position: absolute;
    width: 380px;
    height: 400px;
    z-index: 999;
}

.btn_arrow_slide {
    width: 64px;
    height: 400px;
}

.btn_slide_left {
    transform: rotate(180deg);
}

.btn_slide_right {
    grid-column: 3;
}

.btn_arrow_slide img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    z-index: 999;
}

.btn_slide_left:hover {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.24693627450980393) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer;
}

.btn_slide_right:hover {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.24693627450980393) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer;
}

.slider_box_nav {
    width: 380px;
    height: 80px;
}

.slider_block_nav {
    position: relative;
    left: 0px;
    display: grid;
    transition-property: left;
    transition-delay: 0.2s;
}

.no_selected_img {
    position: absolute;
    background: #000;
    width: 100%;
    height: 80px;
    -moz-opacity: 0.8;
    opacity: 0.6;
}

.slider_box_nav img {
    margin-right: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    background: black;
}

.slider_box_small_img {
    width: 78px;
    height: 80px;
}

.slider_box_small_img:hover {
    cursor: pointer;
    -moz-opacity: 0.8;
    opacity: 0.9;
}

.box_info_block {
    display: grid;
    grid-template-columns: 380px 510px;
    grid-column-gap: 48px;
    margin-bottom: 48px;
}

.text_info_block {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-column-gap: 12px;
    grid-row-gap: 24px;
}

.text_info_block {
    font-size: 16px;
}

.text_info_block span {
    font-family: TTWellingtons-Regular;
}

.name_travel_box {
    grid-column: 1/3;
    font-size: 24px !important;
}

.name_travel_box span {
    font-family: TTWellingtons-DemiBold;
    font-size: 24px !important;
}

.text_info_block .hor_line {
    grid-column: 1/3;
    margin: 0;
}

.text_info_block h4 {
    font-size: 16px;
}

.text_price {
    grid-column: 1/3;
    grid-row: 2;
}

.text_price span {
    font-family: 'Open Sans', sans-serif;
}

.text_info_block p {
    margin: 0px;
    font-family: TTWellingtons-Regular;
    font-size: 14px;
}

.list_ware_one {
    grid-column: 1;
}

.list_ware_two {
    grid-column: 2;
}

.type_food_block h4 {
    margin-bottom: 12px;
}

.count_boxes_block p {
    margin-bottom: 26px;
    font-size: 20px;
}

.count_elem_block {
    display: grid;
    grid-template-columns: 24px 60px 24px;
    width: 108px;
    height: 24px;
}

.count_boxes_block h4 {
    margin-bottom: 21px;
}

.count_elem_block span {
    text-align: center;
    line-height: 24px;
}

.reduce_count {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #545454;
    background-image: url(./img/noun_Plus_2227060.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.increase_count {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #545454;
    background-image: url(./img/noun_minus_2227060.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

#travel_box_counter {
    font-family: 'Open Sans', sans-serif !important;
}

.reduce_count:hover {
    -moz-opacity: 0.8;
    opacity: 0.6;
    cursor: pointer;
}

.increase_count:hover {
    -moz-opacity: 0.8;
    opacity: 0.6;
    cursor: pointer;
}

#hide_info_box {
    width: 250px !important;
}

#step_two_from_box {
    width: 250px !important;
}

.footer_conteiner {
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    width: 856px;
    height: 80px;
    margin: auto;
    left: 0;
}

.footer_conteiner span {
    font-size: 12px;
    color: #C1AD96;
}

.footer_conteiner a {
    color: #C1AD96;
    text-decoration: underline;
}

.footer_conteiner a:hover {
    cursor: pointer;
}

.footer_conteiner span:nth-child(2) {
    grid-column: 3;
    text-align: end;
}


/*---------------------------
    Стили для поля возраста
----------------------------*/

#year_age_anim_inpt,
#month_age_anim_inpt,
.input_width__setter img,
.input_width__setter label {
    z-index: 9;
}

#year_age_anim_inpt,
#month_age_anim_inpt {
    font-family: 'Open Sans', sans-serif;
}

.composite_input_back {
    grid-column: 1/3;
    position: relative;
    top: -50px;
    left: -36px;
    width: 100%;
    height: 64px;
    border-radius: 8px;
    background: #EEF2F7;
}

.invalid_back {
    border: 1px solid #DD5656;
}

.active_text {
    top: 12px !important;
    font-size: 12px !important;
}

.age_input {
    position: relative !important;
}

.age_input:nth-child(1) {
    width: 74px !important;
    margin: 24px 12px 0 20px;
    padding: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.age_input:nth-child(2) {
    width: 95px !important;
    margin: 24px 79px 0 0;
    padding: 0 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/*---------------------------
    Стили для поля возраста
----------------------------*/

.focus_left_input {
    margin: 1px 12px 0 20px;
    padding: 26px 0 0 0 !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #9E9DAB !important;
    background: #fff !important;
}

.focus_left_input:focus {
    border-bottom: 1px solid #4B9FDF !important;
}

.focus_right_input {
    margin: 1px 73px 0 0;
    padding: 26px 0 0 0 !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #9E9DAB !important;
    background: #fff !important;
}

.focus_right_input:focus {
    border-bottom: 1px solid #4B9FDF !important;
}

.focus_back {
    height: 62px;
    border: 1px solid #4B9FDF;
    background: #fff;
}

.composite_text {
    position: absolute;
    top: 27px;
    left: 8px;
    font-family: TTWellingtons-DemiBold;
    z-index: 11;
}

.year_text_input {
    left: 8px;
}

.month_text_input {
    left: 106px;
}

.inv_icon_age_pet {
    z-index: 11;
}