@font-face {
    font-family: TTWellingtons-Regular;
    src: url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-Regular.eot');
    src: local('TT Wellingtons Regular'), local('TTWellingtons-Regular'), url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/TT_WELLIGTONES/woff2/TTWellingtons-Regular.woff2') format('woff2'), url('./fonts/TT_WELLIGTONES/woff/TTWellingtons-Regular.woff') format('woff'), url('.//fonts/TT_WELLIGTONES/ttf/TTWellingtons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-Medium;
    src: url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-Medium.eot');
    src: local('TT Wellingtons Medium'), local('TTWellingtons-Medium'), url('./style/fonts/TT_WELLIGTONES/eot/TTWellingtons-Medium.eot?#iefix') format('embedded-opentype'), url('./style/fonts/TT_WELLIGTONES/woff2/TTWellingtons-Medium.woff2') format('woff2'), url('./style/fonts/TT_WELLIGTONES/woff/TTWellingtons-Medium.woff') format('woff'), url('./style/fonts/TT_WELLIGTONES/ttf/TTWellingtons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-DemiBold;
    src: url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-DemiBold.eot');
    src: local('TT Wellingtons DemiBold'), local('TTWellingtons-DemiBold'), url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-DemiBold.eot') format('embedded-opentype'), url('./fonts/TT_WELLIGTONES/woff2/TTWellingtons-DemiBold.woff2') format('woff2'), url('./fonts/TT_WELLIGTONES/woff/TTWellingtons-DemiBold.woff') format('woff'), url('./fonts/TT_WELLIGTONES/ttf/TTWellingtons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-ExtraLight;
    src: url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-ExtraLight.eot');
    src: local('TT Wellingtons ExtraLight'), local('TTWellingtons-ExtraLight'), url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-ExtraLight.eot?#iefix') format('embedded-opentype'), url('./fonts/TT_WELLIGTONES/woff2/TTWellingtons-ExtraLight.woff2') format('woff2'), url('./fonts/TT_WELLIGTONES/woff/TTWellingtons-ExtraLight.woff') format('woff'), url('./fonts/TT_WELLIGTONES/ttf/TTWellingtons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-MediumItalic;
    src: url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-MediumItalic.eot');
    src: local('TT Wellingtons Medium Italic'), local('TTWellingtons-MediumItalic'), url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/TT_WELLIGTONES/woff2/TTWellingtons-MediumItalic.woff2') format('woff2'), url('./fonts/TT_WELLIGTONES/woff/TTWellingtons-MediumItalic.woff') format('woff'), url('./fonts/TT_WELLIGTONES/ttf/TTWellingtons-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: TTWellingtons-Bold;
    src: url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-Bold.eot');
    src: local('TT Wellingtons Bold'), local('TTWellingtons-Bold'), url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/TT_WELLIGTONES/woff2/TTWellingtons-Bold.woff2') format('woff2'), url('./fonts/TT_WELLIGTONES/woff/TTWellingtons-Bold.woff') format('woff'), url('./fonts/TT_WELLIGTONES/ttf/TTWellingtons-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: TTWellingtons-Light;
    src: url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-Light.eot');
    src: local('TT Wellingtons Light'), local('TTWellingtons-Light'), url('./fonts/TT_WELLIGTONES/eot/TTWellingtons-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/TT_WELLIGTONES/woff2/TTWellingtons-Light.woff2') format('woff2'), url('./fonts/TT_WELLIGTONES/woff/TTWellingtons-Light.woff') format('woff'), url('./fonts/TT_WELLIGTONES/ttf/TTWellingtons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #fff;
}


/*----------------------------

        Стили для заголовка

-----------------------------*/

.header_conteiner {
    display: grid;
    grid-template-columns: 105px 1fr 840px;
    position: relative;
    top: 0;
    left: 0;
    width: 1124px;
    height: 64px;
    margin: auto;
    z-index: 11;
}

.logo_block {
    position: relative;
    top: 10px;
    width: 105px;
    background-image: url(./img/mp/logotype.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav_block {
    grid-column: 3;
}

.nav_block ul {
    display: grid;
    grid-template-columns: 150px 170px 64px 42px 114px 160px;
    grid-column-gap: 22px;
    margin-top: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: TTWellingtons-Medium;
    font-size: 12px;
    list-style-type: none;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.nav_btn li {
    padding: 5px;
}

.nav_btn li:hover {
    text-decoration: underline;
}

.header_nomber {
    text-align: end !important;
    font-family: Open-Sans;
    font-weight: 600;
}


/*-------------------------------


        Стили для полей ввода


------------------------------*/

.input_width_conteiner {
    /*styles*/
    width: 100%;
}

.input_width__setter {
    display: grid;
    grid-template-columns: 110px 172px;
    /*NO changes*/
    position: relative;
    /*styles*/
    margin: 0 35px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    position: absolute;
    left: -35px;
    width: 100%;
    outline: none;
    border: none;
    height: 26px;
    font-size: 16px;
    padding: 30px 50px 8px 20px;
    border-radius: 8px;
    display: block;
    background-color: #EEF2F7;
    font-family: TTWellingtons-Medium;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    background-color: #fff;
    border: 1px solid #4B9FDF;
    padding: 29px 49px 7px 19px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.label_field {
    color: #999;
    font-size: 14px;
    pointer-events: none;
    left: 0px;
    top: 0px;
    pointer-events: auto;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.label_text {
    position: absolute;
    top: 24px;
    left: -16px;
    width: 280px;
    font-size: 16px;
    transition-duration: 0.2s;
}

.valid_info_icon {
    display: none;
    position: absolute;
    top: 26px;
    right: -18px;
    width: 18px;
    height: 12px;
}

.invalid_info_icon {
    display: none;
    position: absolute;
    top: 24px;
    right: -18px;
    width: 18px;
    height: 12px;
}

.invalid_info_icon img {
    width: 18px;
    height: 12px;
}

.invalid_info_icon:hover {
    cursor: pointer;
}

.invalid_info_text {
    display: none;
    position: absolute;
    top: 64px;
    left: -22px;
    width: 266px;
    height: 16px;
    color: #DD5656;
    font-family: TTWellingtons-Medium;
    font-size: 12px;
}

.invalid_select {
    border: 1px solid #DD5656 !important;
}

.invalid_select~.select_main_text {
    top: 12px;
    font-size: 12px;
}

.invalid_input {
    padding: 29px 49px 7px 19px !important;
    border: 1px solid #DD5656 !important;
}

.invalid_input~.invalid_info_icon,
.invalid_input~.invalid_info_text {
    display: block;
}

.invalid_input:focus~.label_text {
    top: 12px;
    font-size: 12px;
}

.invalid_input~.label_text {
    top: 12px;
    font-size: 12px;
}


/* анимация при фокусе на поле ввода */

.focus_input~.label_text {
    top: 12px;
    font-size: 12px;
}

.valid_input~.label_text {
    top: 12px;
    font-size: 12px;
}


/* сохранение анимации при фокусе на поле ввода, если оно валидно */

.valid_input~.valid_info_icon {
    display: block;
}


/* --------------------------
    Поля ввода со списком
---------------------------*/

.input_list:focus {
    background-color: #fff !important;
    border: 1px solid #4B9FDF !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 29px 49px 7px 19px !important;
}

.input_list:focus~.label_text {
    top: 12px;
    font-size: 12px;
}

.valid_list_input~.label_text {
    top: 12px;
    font-size: 12px;
}

.invalid_list_input~.label_text {
    top: 12px;
    font-size: 12px;
}

.invalid_list_input {
    border: 1px solid #DD5656 !important;
    padding: 29px 49px 7px 19px !important;
}

.full_list_input~.label_text {
    top: 12px !important;
    font-size: 12px !important;
}


/*----------------------------------------------------------------------



/*----------------------------------------


        Btn "dalee", next step slider


----------------------------------------*/

.btn_nav {
    display: grid;
    grid-template-rows: 74px 32px;
    grid-row-gap: 16px;
    position: relative;
    left: 50%;
    width: 280px;
    margin-left: -140px;
    margin-bottom: 12px;
}

.next_step {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.next_step {
    width: 280px;
    height: 74px;
}

.next_step .circle {
    position: relative;
    display: block;
    margin: 0;
    height: 74px;
    background: #F0592B;
    border-radius: 8px;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step .circle .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step .circle .icon.arrow {
    left: 10px;
    width: 20px;
    height: 3px;
    background: none;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -6px;
    right: 0px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.next_step .button-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    line-height: 74px;
    text-align: center;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step:hover .circle {
    width: 100%;
}

.next_step:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    -moz-transform: translate(1rem, 0);
    -o-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}


/*-------------------------------
        Стили для селекта
------------------------------*/

.type_pet_block:hover {
    cursor: pointer;
}

.arrow_select {
    position: absolute;
    top: 20px;
    right: 15px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: 11;
}

.arrow_select:hover {
    cursor: pointer;
    -moz-opacity: 0.8;
    top: 18px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.wrapper_select {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.wrapper_select {
    cursor: pointer;
}

.select_main_text {
    position: absolute;
    left: 20px;
    top: 24px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: #999;
    font-size: 16px;
    pointer-events: none;
}

.select_window {
    position: absolute;
    width: 100%;
    height: 64px;
    font-size: 20px;
    background-color: #EEF2F7;
    outline: none;
    border-radius: 8px;
}

.inv_select_text {
    top: 64px !important;
    left: 12px;
}

.active_select {
    width: 278px;
    height: 62px;
    border: 1px solid #c4c4c4;
    background: #fff !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select_text {
    position: absolute;
    left: 20px;
    top: 34px;
    width: 200px;
    height: 20px;
    font-size: 16px;
    font-family: TTWellingtons-Medium;
}

.select_input {
    display: none;
}

.select_input:checked~.select_main_text {
    top: 12px !important;
    font-size: 12px !important;
}

.select_input:checked+#list_type_pets {
    display: grid;
}

.select_input:checked+#view_animal_inpt:active {
    border: 1px solid #4B9FDF !important;
}

#list_type_pets:hover {
    display: grid;
}


/*-------------------------------

    Выпадающий список поиска

------------------------------*/

.list_saerch_conteiner {
    display: none;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    position: absolute;
    top: 64px;
    width: 278px;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 196px !important;
    overflow: hidden;
    background-color: #fff;
    z-index: 12;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.list_saerch_conteiner::nth-child(1) {
    border-top: 1px solid #E8F2F7;
}

.search_item {
    padding-left: 20px;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #C4C4C4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search_item:hover {
    background: #EEF2F7;
}

.search_item p {
    width: 85% !important;
    font-family: TTWellingtons-Medium !important;
    font-size: 16px !important;
    line-height: 48px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
}

.search_item {
    cursor: pointer;
}

.list_saerch_conteiner:hover {
    display: grid;
}

#country_arrival:focus+.list_saerch_conteiner {
    display: grid;
}

.list_saerch_conteiner:hover {
    display: grid;
}


/*-------------------------------


        Стили для чекбоксов


------------------------------*/

input[type="checkbox"] {
    display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    display: none;
}

input[type='number']::-moz-outer-spin-button,
input[type='number']::-moz-inner-spin-button {
    display: none;
}

input[type='text']::-webkit-input-placeholder {
    color: #EEF2F7;
}

input[type='text']:focus::-webkit-input-placeholder {
    color: #9E9DAB;
}

input[type='text']::-moz-placeholder {
    color: #EEF2F7;
}

input[type='text']:-moz-placeholder {
    color: #EEF2F7;
}

input[type='text']:focus::-moz-placeholder {
    color: #9E9DAB;
}

input[type='text']:focus:-moz-placeholder {
    color: #9E9DAB;
}


/*-----------------------

    Прелоадер блок

-----------------------*/

.hide_block {
    display: none;
}

.preloader_background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 99998;
}

#preloader_conteiner img {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    margin-bottom: -50px;
    margin-left: -85px;
    z-index: 99999;
}

.focus_left_input::-webkit-input-placeholder {
    color: #9E9DAB !important;
}

.focus_right_input::-webkit-input-placeholder {
    color: #9E9DAB !important;
}

input[type='text']::-moz-placeholder {
    color: #EEF2F7;
}

input[type='text']:-moz-placeholder {
    color: #EEF2F7;
}

input[type='text']:focus::-moz-placeholder {
    color: #9E9DAB;
}

input[type='text']:focus:-moz-placeholder {
    color: #9E9DAB;
}


/*----------------------------
    Знак рубля
------------------------------*/

.rub {
    line-height: 3px;
    width: 0.4em;
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: inline-block;
    position: relative;
    left: 3px;
    font-size: 13px !important;
    top: -2px;
}


/*-------------------------------


    Переключатель малекнй


------------------------------*/

.small_switcher {
    display: block;
    position: relative;
    width: 180px;
    height: 42px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #EEF2F7;
    color: #000;
    font-family: TTWellingtons-Bold;
    font-size: 14px;
}

.type_food_switcher:after {
    font-family: TTWellingtons-Bold;
    font-size: 14px;
    color: #000;
    content: "сухой";
    width: 90px;
    height: 42px;
    line-height: 42px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    background: #EEF2F7;
    -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    transition-duration: 0.2s;
}

.type_food_switcher:hover:after {
    background-color: #F68026;
    color: #fff;
}

:checked+.type_food_switcher {
    left: 0px;
}

:checked+.type_food_switcher:after {
    content: "влажный";
    left: 90px;
    border: none;
    border-radius: 0px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

:checked+.type_food_switcher:hover:after {
    background-color: #F68026;
    color: #fff;
}

.type_food_text {
    display: grid;
    grid-template-columns: 90px 90px !important;
    width: 180px !important;
    height: 42px !important;
}

.type_food_text div {
    width: 90px !important;
    line-height: 44px;
    color: #545454;
}


/*----------------------------
    Кнопка назад вверху страницы
------------------------------*/

.back_btn_block {
    display: none;
    grid-template-columns: 20px 110px;
    grid-column-gap: 5px;
    position: relative;
    width: 135px;
    height: 32px;
    margin-bottom: 24px;
    line-height: 32px;
    color: #A3A3A3;
}

.back_btn_block p {
    color: #A3A3A3;
    text-decoration: underline;
    font-size: 12px;
    margin: 0;
}

.back_btn_block:hover {
    cursor: pointer;
    color: #000;
}

.back_btn_block:hover p {
    cursor: pointer;
    color: #000;
}