/*-------------------------------


        Стили для полей ввода


------------------------------*/


input[type="text"], input[type="email"], input[type="number"] {
    width: 250px;
    height: 26px;
    font-size: 16px;
    padding: 30px 10px 8px 20px;
    border-radius: 8px;
    display: block;
    border: none;
    background-color: #EEF2F7;
    outline: none;
    font-family: TTWellingtons-Medium;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus{
    background-color: #fff;
    border: 1px solid #4B9FDF;
    padding: 29px 9px 7px 19px;
}
.label_field {
    color: #999;
    font-size: 14px;
    pointer-events: none;
    left: 0px;
    top: 0px;
    pointer-events: auto;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: TTWellingtons-Regular;
}
.label_text{
    position: absolute;
    top: 24px;
    left: 18px;
    width: 280px;
    font-size: 16px;
    transition-duration: 0.2s;
}

.valid_info_icon {
    display: none;
    position: absolute;
    top: 26px;
    left: 246px;
    width: 18px;
    height: 12px;
}
.invalid_info_icon {
    display: none;
    position: absolute;
    top: 26px;
    left: 246px;
    width: 18px;
    height: 12px;
}
.invalid_info_text {
    display: none;
    position: absolute;
    top: 64px;
    left: 10px;
    width: 266px;
    height: 16px;
    color: #DD5656;
    font-family: TTWellingtons-Medium;
    font-size: 12px;
}
.invalid_input{
    padding: 29px 9px 7px 19px !important;
    border: 1px solid #DD5656 !important;
}
.invalid_input~.invalid_info_icon,
.invalid_input~.invalid_info_text{
    display: block;
}
.invalid_input:focus~.label_text{
    top: 12px;
    font-size: 12px;
}
.invalid_input~.label_text{
    top: 12px;
    font-size: 12px;
}
/* анимация при фокусе на поле ввода */
.inpt_text:focus~.label_text{
    top: 12px;
    font-size: 12px;
}

/* сохранение анимации при фокусе на поле ввода, если оно валидно */
.inpt_text:valid~.label_text{
    top: 12px;
    font-size: 12px;
}
.valid_input~.valid_info_icon{
    display: block;
}

/* --------------------------
    Поля ввода со списком
---------------------------*/
.inpt_list:focus{
    background-color: #fff !important;
    border: 1px solid #4B9FDF !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 29px 9px 7px 19px !important;
}
.inpt_list:focus~.label_text{
    top: 12px;
    font-size: 12px;
}
.valid_list_input~.label_text{
    top: 12px;
    font-size: 12px;
}
.invalid_list_input~.label_text{
    top: 12px;
    font-size: 12px;
}
.invalid_list_input{
    border: 1px solid #DD5656 !important;
    padding: 29px 9px 7px 19px !important;
}
.full_list_input~.label_text{
    top: 12px;
    font-size: 12px;
}

/*----------------------------------------


        Btn "dalee", next step slider


----------------------------------------*/

.btn_nav {
    display: grid;
    grid-template-rows: 74px 32px;
    grid-row-gap: 16px;
    position: relative;
    left: 50%;
    width: 280px;
    margin-left: -140px;
}

.next_step {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.next_step {
    width: 280px;
    height: 74px;
}

.next_step .circle {
    position: relative;
    display: block;
    margin: 0;
    height: 74px;
    background: #F0592B;
    border-radius: 8px;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step .circle .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step .circle .icon.arrow {
    left: 10px;
    width: 20px;
    height: 3px;
    background: none;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -6px;
    right: 0px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.next_step .button-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    line-height: 74px;
    text-align: center;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.next_step:hover .circle {
    width: 100%;
}

.next_step:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    -moz-transform: translate(1rem, 0);
    -o-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}
/*-------------------------------
        Стили для селекта
------------------------------*/
.type_pet_block:hover {
    cursor: pointer;
}

.arrow_select {
    position: absolute;
    top: 20px;
    left: 240px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: 11;
}

.arrow_select:hover {
    cursor: pointer;
    -moz-opacity: 0.8;
    top: 18px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.wrapper_select {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.wrapper_select{
    cursor: pointer;
}
.select_main_text {
    position: absolute;
    left: 20px;
    top: 24px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: #999;
    font-size: 16px;
    pointer-events: none;
}

.select_window {
    position: absolute;
    width: 100%;
    height: 64px;
    font-size: 20px;
    background-color: #EEF2F7;
    outline: none;
    border-radius: 8px;
}
.inv_select_text{
    top: 64px !important;
}


.active_select {
    width: 278px;
    height: 62px;
    border: 1px solid #c4c4c4;
    background: #fff !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select_text {
    position: absolute;
    left: 20px;
    top: 34px;
    width: 200px;
    height: 20px;
    font-size: 16px;
    font-family: TTWellingtons-Medium;
}

.select_input {
    display: none;
}
.select_input:checked~.select_main_text{
    top: 8px !important;
    font-size: 12px !important;
}
.select_input:checked~.arrow_select{
    
}

.select_input:checked+#list_type_pets {
    display: grid;
}

.select_input:checked+#view_animal_inpt:active {
    border: 1px solid #4B9FDF !important;
}

#list_type_pets:hover {
    display: grid;
}
/*-------------------------------

    Выпадающий список поиска

------------------------------*/

.list_saerch_conteiner {
    display: none;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    position: absolute;
    top: 64px;
    width: 278px;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 196px !important;
    overflow: hidden;
    background-color: #EEF2F7;
    z-index: 11;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.list_saerch_conteiner::nth-child(1) {
    border-top: 1px solid #E8F2F7;
}

.search_item {
    padding-left: 20px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #C4C4C4;
    font-family: TTWellingtons-Medium;
    font-size: 16px;
}

.search_item {
    cursor: pointer;
}


.list_saerch_conteiner:hover {
    display: grid;
}

#country_arrival:focus+.list_saerch_conteiner {
    display: grid;
}

.list_saerch_conteiner:hover {
    display: grid;
}
/*-------------------------------


        Стили для чекбоксов


------------------------------*/
input[type="checkbox"] {
    display: none;
}

input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
    display: none;
}

input[type='number']::-moz-outer-spin-button, input[type='number']::-moz-inner-spin-button {
    display: none;
}

input[type='text']::-webkit-input-placeholder{ color: #EEF2F7;}
input[type='text']:focus::-webkit-input-placeholder { color: #9E9DAB;}



input[type='text']::-moz-placeholder{ color: #EEF2F7;}
input[type='text']:-moz-placeholder{ color: #EEF2F7;}
input[type='text']:focus::-moz-placeholder { color: #9E9DAB;}
input[type='text']:focus:-moz-placeholder { color: #9E9DAB;}

/*-----------------------

    Прелоадер блок

-----------------------*/
#preloader_conteiner{
    display: none;
}
.preloader_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 99998;
}
#hellopreloader_preload{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background:  url(http://hello-site.ru//main/images/preloads/oval.svg) center center no-repeat;
    background-size: 172px;
}
